fastapi
uvicorn
pydantic
pydantic-settings
pyyaml
##
pypdf
pdfplumber
pandas
numpy
pytesseract
pillow

spacy
transformers
torch

neo4j

langchain
langchain-community
langchain-openai
langgraph
sentence-transformers
chromadb
tiktoken


##---Utilities
python-dotenv
loguru
tenacity

###---Testing----
pytest
pytest-cov
tenacity

#---Graph analytics
python-louvain
mlxtend
scipy
pgmpy

#---Package setup
setuptools


sentence-transformers
faiss-cpu
langchain
langchain-community
langchain-openai
